* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tektur", sans-serif;
  color: white;
}

ul{
  display: flex;
  justify-content: end;
  align-items: center;
  list-style: none;
  height: 120px;
  background-color: transparent;
  flex-wrap: wrap;
}

nav button {
  margin-right: 75px;
  font-size: 20px;
  font-family: "Tektur", sans-serif;
  border: none;
  background-color: transparent;
  position: relative;
  width: auto;
  color: white;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

nav button::before {
  content: " ";
  height: 5px;
  width: 0%;
  position: absolute;
  left: 0px;
  bottom: -5px;
  background-color: white;
  transition: width .5s;
}

nav button:hover::before {
  width: 100%;
  height: 5px;
}
nav a{
  text-decoration: none;
}
.one{
  background-image: url(images/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow-x: hidden;

}
/*
.border{
  height: 100vh;
  width: 100%;
  border-left: solid 5px white;
  border-top: solid 5px white;
  border-radius: 40px;
  margin-left: 50px;
  position: relative;
}*/

.wel-text{
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  animation: fade 2s forwards;
}

table{
  color: wheat;
  height: 400px;
}
table tr{
  height: 80px;
}

.table{
  margin-top: 30px;
}

.apply{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  margin-top: 140px;
}
.apply img{
  height: 200px;
  border-bottom: solid 4px white;
}

.apply h2{
  font-size: 45px;
  color: white;
  
}
.apply-link{
  text-decoration: none;
  cursor: pointer;
}
.card-c{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap:5rem;
}
.card{
  display: flex;
  height: 500px;
  position: relative;
  
}
.card img,embed{
  border-bottom: solid 40px white;
  border-radius: 30px;
  width: 400px;
}

.card-text{
  position: absolute;
  bottom: 5px;
  left: 40px;
  font-weight: bold;
  font-size: 20px;

}

.form-parent-c{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.form-c{
  display: flex;
  justify-content: center;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  width: 110vh;
  padding: 30px 30px 30px 30px;
  border-radius: 40px;
  border: solid 5px white;
  
}
form label{
  color: white;
  font-family: "Tektur", sans-serif;
  font-size: 24px;
}
form input{
  background-color: gray;
  outline: none;
  padding: 5px 15px 5px 15px;
  color: black;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  height: 40px;
}
form .dot-sel input{
  height: auto;
}
form input::placeholder{
  color: black;
}

.form-grid div{
  margin-bottom: 15px;
  color: white;
  align-items: center;
  flex-wrap: wrap;
  
}
.form-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.DOB-c{
  display: flex;
  width: 400px;
}
.DOB-c input {
  width: 68px;     
}