* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tektur", sans-serif;
  color: white;
}

body {
  animation: fadeuniversal 1s forwards;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-clip: cover;
  background-image: url(images/school.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  background-attachment: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.nav-one ul,
.nav-two ul {
  display: flex;
  justify-content: end;
  list-style: none;
  background-color: transparent;
  flex-wrap: wrap;
}

.nav-one {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  right: 0;
  left: 0;
  position: fixed;
  background-color: white;
  height: 65px;
  z-index: 200;
  width: 100%;

}

.logo-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 280px;
  margin-left: 0px;
}

.nav-one button {
  margin-top: 0px;
}

.nav-two {
  position: fixed;
  margin-top: 65px;
  left: 0;
  right: 0;
  background-color: rgb(83, 118, 63);
  height: 40px;
  z-index: 30;
}

nav button {
  margin-right: 75px;
  font-size: 20px;
  font-family: "Tektur", sans-serif;
  border: none;
  background-color: transparent;
  position: relative;
  width: auto;
  color: white;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  margin-top: 5px;
  z-index: 20;
  transition: filter .2s;
}

.nav-one .c-us {
  color: rgb(69, 24, 24);
  margin-top: 16px;
  font-size: 20px;


}

.c-us:hover {
  filter: drop-shadow(black 1px 1px 20px);
  z-index: 60;

}

.nav-two button::before {
  content: " ";
  height: 3px;
  width: 0%;
  position: absolute;
  left: 0px;
  bottom: -2px;
  background-color: white;
  transition: width .5s;

}

.nav-two button:hover::before {
  width: 100%;
  height: 3px;
  z-index: 2;
}

nav a {
  text-decoration: none;
}

.one {
  display: flex;
  justify-content: start;
  flex-direction: column;
  height: 100vh;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
}


/*
.border{
  height: 100vh;
  width: 100%;
  border-left: solid 5px white;
  border-top: solid 5px white;
  border-radius: 40px;
  margin-left: 50px;
  position: relative;
}*/
.wel-apply-c {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
  z-index: 1;
}

.wel-text {
  position: absolute;
  font-weight: bold;
  font-size: 40px;
  z-index: 1;
  text-align: center;
  filter: drop-shadow(black 4px 4px 4px);
  animation: fade 2s forwards;
  z-index: 20;
  color: white;
  top: 120px;
  left: 0;
  right: 0;
  justify-content: center;
}

.school-logo {
  height: 60px;
  margin-left: 55px;
}

.school-info {
  margin-top: 6px;
}

.apply {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 140px;
}

.apply img {
  height: 120px;
  border-bottom: solid 4px white;
}

.apply h2 {
  font-size: 30px;
  color: white;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;

}

.apply-link {
  text-decoration: none;
  cursor: pointer;
  height: 0px;
}

.card-c {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5rem;
  position: relative;
  margin-top: 230px;
}

.card {
  display: flex;
  height: 500px;
  position: relative;
}

.card img,
embed {
  border-bottom: solid 40px white;
  border-radius: 30px;
  width: 400px;
}

.card-text {
  position: absolute;
  margin-left: 90px;

  bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  color: black;

}

.form-parent-c {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  z-index: 20;
  margin-top: 200px;
}

.form-c {
  display: flex;
  justify-content: center;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  width: 120vh;
  padding: 30px 30px 30px 30px;
  border-radius: 40px;
  border: solid 5px white;
  position: relative;
}

form label {
  color: white;
  font-family: "Tektur", sans-serif;
  font-size: 24px;
}

form input {
  background-color: gray;
  outline: none;
  padding: 5px 15px 5px 15px;
  color: black;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  height: 40px;
}

form .Gender input {
  height: auto;
}

form input::placeholder {
  color: black;
}

.form-grid div {
  margin-bottom: 15px;
  color: white;
  align-items: center;
  flex-wrap: wrap;

}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}


.form-b{
  justify-content: center;
  align-items: center;
  display: flex;
  width: 200%;
}
.form-b button {
  color: white;
  background-color: black;
  border-radius: 10px;
  border: solid 2px white;
  height: 40px;
  width: 90px;
  margin-top: 20px;
}


.DOB-c input {
  width: 68px;
}



.on-type-validationText {
  position: absolute;
}

.bg-1 {
  background-image: url(images/temp.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  height: auto;
  z-index: -5;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.dep-c {

  position: relative;
  top: 170px;
  left: 0;
  right: 0;
  justify-content: center;
}

.department {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 0px;
  background-color: transparent;
  height: 90vh;
  margin-top: -75px;

}

.department button {
  height: 70px;
  width: 150px;
  color: black;
  background-color: white;
  outline: none;
  filter: drop-shadow(black 1px 1px 1px);
  transition: filter .2s;
  font-size: 17px;
  margin-right: 20px;
  margin-left: 15px;
  margin-bottom: 10px;
}

.department button:hover {
  filter: drop-shadow(black 1px 1px 3px);
  transition: background-color .2s, color .2s;
}

.department button:active {
  background-color: black;
  color: white;
}

.dep-h {
  margin-bottom: 15px;
  margin-left: 15px;
  font-size: 21px;
  color: white;
}

.department-info {
  background-color: white;
  height: 70vh;
  width: 900px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  opacity: 1;
  margin-left: -15px;
  align-items: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.teacher {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.teacher img {
  height: 412px;
}

.teacher-info {
  color: black;
  font-size: 30px;
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.teacher-info .name {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: black;
  text-size-adjust: auto;
}

.courses-c {
  display: flex;
  height: auto;
  flex-direction: row;
  gap: 4rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 250px;
  justify-content: center;
  flex-wrap: wrap;
}

.courses-card {
  height: 380px;
  width: 280px;
  display: grid;
  grid-template-rows: 3fr 1fr;
  background-color: white;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  transform: scale(1);
  transition: transform .2s;
}

.courses-card:hover {
  transform: scale(1.05);
}

.courses-card a,
.courses-card p {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: black;
}


.courses-card img {
  height: 256px;
  width: 256px;
  object-fit: cover;
  border-radius: 20px;
}

.courses-c .card-image {
  display: flex;
  justify-content: center;
}

.courses-c-details {
  height: 60%;
  width: 450px;
  background-color: white;
  margin-top: 10px;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50px;

  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 300px;
  text-align: center;
}

.visibility-on {
  visibility: visible;
}

.visibility-off {
  visibility: hidden;
}

.courses-c-details h4,
.courses-c-details h1 {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;

}

.courses-c-details img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-top: -60px;
  position: absolute;
  top: -40px;
  border: solid 5px white;
  object-fit: cover;
}

.courses-c a {
  text-decoration: underline;
  cursor: pointer;
}

.courses-c-details a {
  cursor: pointer;
  text-decoration: underline;
  color: black;
  margin-top: 35px;
}

.courses-c-details-text {
  margin-top: 100px;
}

.courses-c-details ul li {
  text-align: start;
}


.subjects ul li {
  color: black
}